h2{
    color: brown;
}
h1 span{
    color: brown;
}
#pets{
    
    display: flex;
    
    justify-content: space-evenly;
   
    
}
.card{
    border: 2px solid black;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
}
img{
    width: 100%;;
    border-radius: 20px;
}
h4{
    /* position: absolute;
    top: 700px;
    left: 1300px; */
    text-align: right;
}
@media(max-width:450px){
    #pets{
        flex-direction: column;
    }
}