body{
    margin: 20px;
}
.chat{
    background-color: lightblue;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}
.msg{
    background-color: aquamarine;
    color: brown;
    padding: 5px 15px;
    border-radius: 16px;
}