<%-include("includes/head.ejs")%>
<body>
    <h1>This is the Home Page</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= "ankit".toUpperCase() %></h3>
    <h3><%= ["hello", "bonjour", "namaste"][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia iure repellendus facere, et libero animi saepe veniam impedit est! Tempora nisi, quibusdam necessitatibus deleniti harum odio obcaecati quo vero inventore.</p>
    <button>Click me</button>
</body>
</html>