div{
    width: 400px;
    height: 200px;
    background-color: green;
    margin: 10px auto;
    background-image: url(s1_24__rias_gremory__by_theshowmaker_df0ikef.png);
    background-size: contain;
    background-size: cover;
    /* background-size: auto; */
}