#outer{
    height: 400px;
    width: 400px;
    background-color: rgb(181, 181, 11);
    border-radius: 50%;
}
div{
    display: inline-block;
}
.eyes1{
    height:50px;
    width: 50px;
    background-color: black;
    position: relative;
    top: 100px;
    left: 100px;
    border-radius: 50%;
    
}
.eyes2{
    height:50px;
    width: 50px;
    background-color: black;
    position: relative;
    top: 100px;
    left: 200px;
    border-radius: 50%;
}
#mouth{
    height: 50px;
    width: 150px;
    background-color: red;
    border-radius: 0 0 50px 50px;
    position: relative;
    top: 250px;
    left: 20px;
}