<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create New Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <h2>Enter Post Details</h2>
        <h3>Enter username</h3>
        <input type="text" name="username" placeholder="Username">
        <br><br>
        <h3>Enter content</h3>  
        <textarea name="content" placeholder="Content"></textarea>
        <br><br>
        <button type="submit">Create Post</button>
    </form>
</body>
</html>